alabaster==0.7.12
Babel==2.8.0
backports.functools-lru-cache==1.6.1
certifi==2020.4.5.1
chardet==3.0.4
cheroot==8.3.0
click==7.1.2
docutils==0.16
Flask==1.1.2
idna==2.9
imagesize==1.2.0
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==5.0.0
packaging==20.4
Pygments==2.5.2
pyparsing==2.4.7
pytz==2020.1
requests==2.23.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinx-typo3-theme==4.2.1
sphinxcontrib-websupport==1.1.2
typing==3.7.4.1
urllib3==1.25.9
Werkzeug==1.0.1
